In [1]:
# Dependencies
import requests
import pandas as pd
import json
import datetime
import requests
import calendar
import openpyxl
import seaborn as sns
from datetime import datetime, timedelta

from config import grant_type, client_id, client_secret, redirect_url,refresh_token

In [2]:
# Step 1: Create the OAuth link and authorize the access
oauth_link = f"https://hotels.cloudbeds.com/api/v1.1/oauth?client_id={client_id}&redirect_uri={redirect_url}&response_type=code"
print(f"Please go to this URL to authorize access: {oauth_link}")

# Step 2: Retrieve the authorization code from the redirect URL
auth_code = input("Enter the authorization code from the redirect URL: ")

url = 'https://hotels.cloudbeds.com/api/v1.1/access_token'
headers = {'Content-type': 'application/json'}

# Specify the grant type and other parameters based on your authentication flow
if grant_type == 'authorization_code':
    data = {
        'grant_type': 'authorization_code',
        'client_id': client_id,
        'client_secret': client_secret,
        'redirect_uri': redirect_url,
        'code': auth_code
    }
elif grant_type == 'refresh_token':
    data = {
        'grant_type': 'refresh_token',
        'client_id': client_id,
        'client_secret': client_secret,
        'refresh_token': refresh_token
    }

response = requests.post(url, data=data)

if response.ok:
    access_token_data = response.json()
    access_token = access_token_data["access_token"]
    token_type = access_token_data["token_type"]
    expires_in = access_token_data["expires_in"]
    refresh_token = access_token_data.get("refresh_token")
    print(f"Access token: {access_token}")
    print(f"Token type: {token_type}")
    print(f"Expires in: {expires_in} seconds")
    if refresh_token:
        print(f"Refresh token: {refresh_token}")
else:
    print("Error retrieving access token.")
    print(response.json())

Please go to this URL to authorize access: https://hotels.cloudbeds.com/api/v1.1/oauth?client_id=live1_172779_NOXF9fcUKEH6zMahDiSuv4T0&redirect_uri=https://webhook.site/2004f68e-9121-4331-a917-8bb8f74fbbb2&response_type=code
Access token: eyJraWQiOiI5eFUtV09RSWFtWXdLM3JneHF0NG9wbWNEVXdXWlQ3QXRUQm9TTzVuQ3hnIiwiYWxnIjoiUlMyNTYifQ.eyJ2ZXIiOjEsImp0aSI6IkFULk5MbHktNVNiUTl2ZWJhSGFvQ0F4Mk8wUjJkY2xmTmZEV2xDSFdzOVdYdTgub2FyMTJlZ3d0d09aOHhJZmI1ZDciLCJpc3MiOiJodHRwczovL2lkcC5jbG91ZGJlZHMuY29tL29hdXRoMi9hdXNkNWcydTY5QmxKNFdBYzVkNiIsImF1ZCI6Imh0dHBzOi8vaG90ZWxzLmNsb3VkYmVkcy5jb20vYXBpIiwic3ViIjoia2VudHJvdGgrMUBnbWFpbC5jb20iLCJpYXQiOjE2ODY3NjgyOTIsImV4cCI6MTY4Njc3MTg5MiwiY2lkIjoibGl2ZTFfMTcyNzc5X05PWEY5ZmNVS0VINnpNYWhEaVN1djRUMCIsInVpZCI6IjAwdTFua2FwdGVSNjA2Z2ZYNWQ3Iiwic2NwIjpbIm9mZmxpbmVfYWNjZXNzIl0sImF1dGhfdGltZSI6MTY4NDE4NTk3OCwiYXNzb2NpYXRpb25JZHMiOltdLCJpc2xhbmQiOjEsInByb3BlcnR5SWRzIjpbMTcyNzc5XSwibWZkVXNlcklkIjoyMzMyOTIsInR5cGUiOiJwcm9wZXJ0eSJ9.SSmAxLL1wwYbyZviUpY6umPCndn0p3xMzbC3iNhlBP9uqQ41f-iP1z6WSgGMSFQsGyOJ_KCyre3D4Ip_xCliRMqcFO5j7BtWX46_HG7_X_r-_VgSVtbOjREwrHTQPO9AFrsFM5-9lPRlcemZzRufpKL6O_JrIcXkSaw5-gxZnoReV83gXcQJI_p9fqjBXaL1hZbgbTaHoNVR2RyZITpnuOmI222iv78WQvSKRcJpeucB9DTGCO6qRhNxvBKSdvjq6Q0Ib65_qpTY4uiOxshd7PgLaEsQ8hCLraNJmTIvXdvFZjEvE9tpc2w82v-qzSREncyRaaRnMuizTw0tigH21A
Token type: Bearer
Expires in: 3600 seconds
Refresh token: 3MfCwiV0Xp9un1Y9VbEcMwtwHnG8wRpQGIrW0shL81U

In [3]:
#Pull 1 year past data

url = "https://hotels.cloudbeds.com/api/v1.1/getReservationsWithRateDetails"

# Set up pagination parameters
page_number = 1
page_size = 100

results_past=[]

# Set the date range for the previous year
today = datetime.now()
one_year_ago = today - timedelta(days=365)

while True:
    # Parameters for the API request
    headers = {
        'Authorization': f'Bearer {access_token}'
    }
    params = {
        "reservationCheckOutFrom": one_year_ago.strftime("%Y-%m-%d"),
        "reservationCheckOutTo": today.strftime("%Y-%m-%d"),
        "sortByRecent": True,
        "pageNumber": page_number,
        "pageSize": page_size
    }

    # Make the API request
    response = requests.get(url, params=params, headers=headers)

    # Extract the 'data' field from the API response
    api_data = response.json().get('data', [])

    # Create a DataFrame from the extracted data
    df = pd.DataFrame(api_data)

    # Append the DataFrame to the overall results list
    results_past.append(df)

    # Check if there are more results
    if len(df) < page_size:
        break

    # Increment the page number for the next request
    page_number += 1

# Concatenate all the DataFrames into one
df_all_past = pd.concat(results_past, ignore_index=True)

# Print the final DataFrame
print(df_all_past)

      reservationID  isDeleted          dateCreated       dateCreatedUTC  \
0     7735802583438      False  2023-06-12 01:58:24  2023-06-12 06:58:24
1     7985668671700      False  2023-06-13 18:46:08  2023-06-13 23:46:08
2     4366035923978      False  2023-05-21 20:52:15  2023-05-22 01:52:15
3     5126780383725      False  2023-06-08 16:53:20  2023-06-08 21:53:20
4     6831463418789      False  2023-06-13 16:40:01  2023-06-13 21:40:01
...             ...        ...                  ...                  ...
7479  2981326909508      False  2022-01-27 08:46:12  2022-01-27 14:46:12
7480  1723741176202      False  2022-01-21 07:48:29  2022-01-21 13:48:29
7481  2625454162721      False  2022-01-16 09:11:45  2022-01-16 15:11:45
7482  3118431497232      False  2021-12-05 16:11:26  2021-12-05 22:11:26
7483  6597804802670      False  2022-01-07 01:46:26  2022-01-07 07:46:26

             dateModified      dateModifiedUTC       status  \
0     2023-06-14 12:15:41  2023-06-14 17:15:41  checked_out
1     2023-06-14 12:14:01  2023-06-14 17:14:01  checked_out
2     2023-06-14 12:13:59  2023-06-14 17:13:59  checked_out
3     2023-06-14 12:13:56  2023-06-14 17:13:56  checked_out
4     2023-06-14 12:13:53  2023-06-14 17:13:53  checked_out
...                   ...                  ...          ...
7479  2022-01-28 13:31:07  2022-01-28 19:31:07     canceled
7480  2022-01-21 16:21:16  2022-01-21 22:21:16     canceled
7481  2022-01-20 12:00:46  2022-01-20 18:00:46     canceled
7482  2022-01-09 06:53:42  2022-01-09 12:53:42     canceled
7483  2022-01-07 07:32:33  2022-01-07 13:32:33     canceled

     reservationCheckIn reservationCheckOut   guestID  ...  \
0            2023-06-12          2023-06-14  77574233  ...
1            2023-06-13          2023-06-14  77703730  ...
2            2023-06-11          2023-06-14  76068941  ...
3            2023-06-11          2023-06-14  77353265  ...
4            2023-06-13          2023-06-14  77698090  ...
...                 ...                 ...       ...  ...
7479         2022-09-18          2022-09-19  47897035  ...
7480         2022-08-14          2022-08-15  47667203  ...
7481         2022-06-30          2022-07-05  47465664  ...
7482         2022-06-13          2022-06-16  46014614  ...
7483         2022-07-06          2022-07-11  47128058  ...

                                                 source sourceCategory  \
0     {'name': 'Hostelworld', 'paymentCollect': 'hot...            OTA
1     {'name': 'Booking.com', 'paymentCollect': 'hot...            OTA
2     {'name': 'Hostelworld', 'paymentCollect': 'hot...            OTA
3     {'name': 'Website/Booking Engine', 'paymentCol...            NaN
4     {'name': 'Booking.com', 'paymentCollect': 'hot...            OTA
...                                                 ...            ...
7479  {'name': 'Booking.com', 'paymentCollect': 'hot...            OTA
7480  {'name': 'Booking.com', 'paymentCollect': 'hot...            OTA
7481  {'name': 'Airbnb (API)', 'paymentCollect': 'ho...            OTA
7482  {'name': 'Airbnb (API)', 'paymentCollect': 'ho...            OTA
7483  {'name': 'Booking.com', 'paymentCollect': 'hot...            OTA

     sourceReservationID propertyCurrency  \
0        64785-554363643              USD
1             3938016812              USD
2        64785-553901308              USD
3                    NaN              USD
4             2821587334              USD
...                  ...              ...
7479          2811169606              USD
7480          3934891046              USD
7481          HMEJ2YFCAF              USD
7482          HMTM88JSBH              USD
7483          2650029727              USD

                                        balanceDetailed allotmentBlockCode  \
0     {'suggestedDeposit': '0.00', 'subTotal': 71.3,...               None
1     {'suggestedDeposit': '0.00', 'subTotal': 39, '...               None
2     {'suggestedDeposit': '0.00', 'subTotal': 98.6,...               None
3     {'suggestedDeposit': '0.00', 'subTotal': 133, ...               None
4     {'suggestedDeposit': '0.00', 'subTotal': 39, '...               None
...                                                 ...                ...
7479  {'suggestedDeposit': '0.00', 'subTotal': 39, '...               None
7480  {'suggestedDeposit': '0.00', 'subTotal': 39, '...               None
7481  {'suggestedDeposit': '0.00', 'subTotal': 959.9...               None
7482  {'suggestedDeposit': '0.00', 'subTotal': 105.0...               None
7483  {'suggestedDeposit': '0.00', 'subTotal': 191.7...               None

                                          detailedRates  \
0                {'2023-06-12': 32.3, '2023-06-13': 39}
1                                    {'2023-06-13': 39}
2     {'2023-06-11': 34, '2023-06-12': 32.3, '2023-0...
3     {'2023-06-11': 47, '2023-06-12': 43, '2023-06-...
4                                    {'2023-06-13': 39}
...                                                 ...
7479                                 {'2022-09-18': 39}
7480                                 {'2022-08-14': 39}
7481  {'2022-06-30': 191.99, '2022-07-01': 191.99, '...
7482  {'2022-06-13': 35.02, '2022-06-14': 35.02, '20...
7483  {'2022-07-06': 33.3, '2022-07-07': 35.1, '2022...

                                                  rooms        dateCancelled  \
0     [{'roomTypeID': '215606', 'roomTypeName': 'Del...                  NaN
1     [{'roomTypeID': '213806', 'roomTypeName': 'Del...                  NaN
2     [{'roomTypeID': '215607', 'roomTypeName': 'Eco...                  NaN
3     [{'roomTypeID': '215607', 'roomTypeName': 'Eco...                  NaN
4     [{'roomTypeID': '213806', 'roomTypeName': 'Del...                  NaN
...                                                 ...                  ...
7479  [{'roomTypeID': '215605', 'roomTypeName': 'Del...  2022-01-28 13:31:00
7480  [{'roomTypeID': '215605', 'roomTypeName': 'Del...  2022-01-21 16:21:11
7481  [{'roomTypeID': '215609', 'roomTypeName': 'Bra...  2022-01-20 12:00:42
7482  [{'roomTypeID': '213806', 'roomTypeName': 'Del...  2022-01-09 06:53:29
7483  [{'roomTypeID': '215606', 'roomTypeName': 'Del...  2022-01-07 07:32:25

         dateCancelledUTC
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
...                   ...
7479  2022-01-28 19:31:00
7480  2022-01-21 22:21:11
7481  2022-01-20 18:00:42
7482  2022-01-09 12:53:29
7483  2022-01-07 13:32:25

[7484 rows x 23 columns]

In [4]:
#Pull 1 year future data

url = "https://hotels.cloudbeds.com/api/v1.1/getReservationsWithRateDetails"

# Set up pagination parameters
page_number = 1
page_size = 100

results_future=[]

# Set the date range for the previous year
today = datetime.now()
one_year_ahead = today + timedelta(days=365)

while True:
    # Parameters for the API request
    headers = {
        'Authorization': f'Bearer {access_token}'
    }
    params = {
        "reservationCheckOutFrom": today.strftime("%Y-%m-%d"),
        "reservationCheckOutTo": one_year_ahead.strftime("%Y-%m-%d"),
        "sortByRecent": True,
        "pageNumber": page_number,
        "pageSize": page_size
    }


    # Make the API request
    response = requests.get(url, params=params, headers=headers)

    # Extract the 'data' field from the API response
    api_data = response.json().get('data', [])

    # Create a DataFrame from the extracted data
    df = pd.DataFrame(api_data)

    # Append the DataFrame to the overall results list
    results_future.append(df)

    # Check if there are more results
    if len(df) < page_size:
        break

    # Increment the page number for the next request
    page_number += 1

# Concatenate all the DataFrames into one
df_all_future = pd.concat(results_future, ignore_index=True)

# Print the final DataFrame
print(df_all_future)

     reservationID  isDeleted          dateCreated       dateCreatedUTC  \
0    3195492555747      False  2023-03-31 19:56:04  2023-04-01 00:56:04
1    7735802583438      False  2023-06-12 01:58:24  2023-06-12 06:58:24
2    7985668671700      False  2023-06-13 18:46:08  2023-06-13 23:46:08
3    4366035923978      False  2023-05-21 20:52:15  2023-05-22 01:52:15
4    5126780383725      False  2023-06-08 16:53:20  2023-06-08 21:53:20
..             ...        ...                  ...                  ...
579  9049776267868      False  2022-10-17 13:17:57  2022-10-17 18:17:57
580  4480999257826      False  2022-10-04 13:52:19  2022-10-04 18:52:19
581  8668732599792      False  2022-10-02 01:01:18  2022-10-02 06:01:18
582  8901269886916      False  2022-09-21 12:43:29  2022-09-21 17:43:29
583  9768135512101      False  2022-09-14 09:29:29  2022-09-14 14:29:29

            dateModified      dateModifiedUTC       status reservationCheckIn  \
0    2023-06-14 13:45:40  2023-06-14 18:45:40    confirmed         2023-06-15
1    2023-06-14 12:15:41  2023-06-14 17:15:41  checked_out         2023-06-12
2    2023-06-14 12:14:01  2023-06-14 17:14:01  checked_out         2023-06-13
3    2023-06-14 12:13:59  2023-06-14 17:13:59  checked_out         2023-06-11
4    2023-06-14 12:13:56  2023-06-14 17:13:56  checked_out         2023-06-11
..                   ...                  ...          ...                ...
579  2022-10-24 13:05:12  2022-10-24 18:05:12     canceled         2023-10-05
580  2022-10-07 14:36:22  2022-10-07 19:36:22     canceled         2023-07-27
581  2022-10-02 01:01:25  2022-10-02 06:01:25    confirmed         2023-07-27
582  2022-09-28 21:25:26  2022-09-29 02:25:26     canceled         2023-07-27
583  2022-09-14 09:29:40  2022-09-14 14:29:40    confirmed         2023-07-27

    reservationCheckOut   guestID  ...  \
0            2023-06-18  72479054  ...
1            2023-06-14  77574233  ...
2            2023-06-14  77703730  ...
3            2023-06-14  76068941  ...
4            2023-06-14  77353265  ...
..                  ...       ...  ...
579          2023-10-09  61820485  ...
580          2023-07-30  61068334  ...
581          2023-07-31  60906961  ...
582          2023-07-30  60319061  ...
583          2023-07-31  59901190  ...

                                                source propertyCurrency  \
0    {'name': 'Website/Booking Engine', 'paymentCol...              USD
1    {'name': 'Hostelworld', 'paymentCollect': 'hot...              USD
2    {'name': 'Booking.com', 'paymentCollect': 'hot...              USD
3    {'name': 'Hostelworld', 'paymentCollect': 'hot...              USD
4    {'name': 'Website/Booking Engine', 'paymentCol...              USD
..                                                 ...              ...
579  {'name': 'Website/Booking Engine', 'paymentCol...              USD
580  {'name': 'Booking.com', 'paymentCollect': 'hot...              USD
581  {'name': 'Website/Booking Engine', 'paymentCol...              USD
582  {'name': 'Airbnb (API)', 'paymentCollect': 'ho...              USD
583  {'name': 'Expedia', 'paymentCollect': 'hotel',...              USD

                                       balanceDetailed allotmentBlockCode  \
0    {'suggestedDeposit': '0.00', 'subTotal': 119.0...               None
1    {'suggestedDeposit': '0.00', 'subTotal': 71.3,...               None
2    {'suggestedDeposit': '0.00', 'subTotal': 39, '...               None
3    {'suggestedDeposit': '0.00', 'subTotal': 98.6,...               None
4    {'suggestedDeposit': '0.00', 'subTotal': 133, ...               None
..                                                 ...                ...
579  {'suggestedDeposit': '0.00', 'subTotal': 996, ...               None
580  {'suggestedDeposit': '0.00', 'subTotal': 477, ...               None
581  {'suggestedDeposit': '0.00', 'subTotal': 756, ...               None
582  {'suggestedDeposit': '0.00', 'subTotal': 622.6...               None
583  {'suggestedDeposit': '0.00', 'subTotal': 186, ...               None

                                         detailedRates  \
0    {'2023-06-15': 37, '2023-06-16': 41, '2023-06-...
1               {'2023-06-12': 32.3, '2023-06-13': 39}
2                                   {'2023-06-13': 39}
3    {'2023-06-11': 34, '2023-06-12': 32.3, '2023-0...
4    {'2023-06-11': 47, '2023-06-12': 43, '2023-06-...
..                                                 ...
579  {'2023-10-05': 209, '2023-10-06': 289, '2023-1...
580  {'2023-07-27': 139, '2023-07-28': 169, '2023-0...
581  {'2023-07-27': 169, '2023-07-28': 209, '2023-0...
582  {'2023-07-27': 207.55, '2023-07-28': 207.54, '...
583  {'2023-07-27': 41, '2023-07-28': 52, '2023-07-...

                                                 rooms sourceCategory  \
0    [{'roomTypeID': '215607', 'roomTypeName': 'Eco...            NaN
1    [{'roomTypeID': '215606', 'roomTypeName': 'Del...            OTA
2    [{'roomTypeID': '213806', 'roomTypeName': 'Del...            OTA
3    [{'roomTypeID': '215607', 'roomTypeName': 'Eco...            OTA
4    [{'roomTypeID': '215607', 'roomTypeName': 'Eco...            NaN
..                                                 ...            ...
579  [{'roomTypeID': '215609', 'roomTypeName': 'Bra...            NaN
580  [{'roomTypeID': '215608', 'roomTypeName': 'Pri...            OTA
581  [{'roomTypeID': '215609', 'roomTypeName': 'Bra...            NaN
582  [{'roomTypeID': '215609', 'roomTypeName': 'Bra...            OTA
583  [{'roomTypeID': '213806', 'roomTypeName': 'Del...            OTA

    sourceReservationID        dateCancelled     dateCancelledUTC
0                   NaN                  NaN                  NaN
1       64785-554363643                  NaN                  NaN
2            3938016812                  NaN                  NaN
3       64785-553901308                  NaN                  NaN
4                   NaN                  NaN                  NaN
..                  ...                  ...                  ...
579                 NaN  2022-10-24 13:05:07  2022-10-24 18:05:07
580          3982080874  2022-10-07 14:36:17  2022-10-07 19:36:17
581                 NaN                  NaN                  NaN
582          HM8BZQAFRS  2022-09-28 21:25:22  2022-09-29 02:25:22
583          2012035700                  NaN                  NaN

[584 rows x 23 columns]

In [5]:
print(f"We received {len(df_all_past)} past reservations.")
print(f"We received {len(df_all_future)} future resservations.")

We received 7484 past reservations.
We received 584 future resservations.

In [6]:
#create cleaning data function
def expand_dataframe(df):
    expanded_rows = []
    
    for index, row in df.iterrows():
        detailed_rates = row['detailedRates']

        if detailed_rates:
            for date, price in detailed_rates.items():
                new_row = row.copy()
                new_row['date'] = date
                new_row['price'] = price
                expanded_rows.append(new_row)

    expanded_df = pd.DataFrame(expanded_rows)
    expanded_df.drop('detailedRates', axis=1, inplace=True)
    
    expanded_df['source'] = expanded_df['source'].apply(lambda x: x['name'])
    expanded_df.rename(columns={'source': 'source_name'}, inplace=True)
    
    expanded_df['adults'] = expanded_df['rooms'].apply(lambda x: x[0]['adults'])
    expanded_df.drop('rooms', axis=1, inplace=True)
    
    expanded_df['date'] = pd.to_datetime(expanded_df['date'])
    expanded_df['day'] = expanded_df['date'].dt.day
    expanded_df['month'] = expanded_df['date'].dt.month
    expanded_df['year'] = expanded_df['date'].dt.year
    
    return expanded_df

#create filter data for 'canceled' function
def filter_canceled_reservations(df):
    return df[df['status'] != 'canceled']

# Filter 'canceled' reservations
df_all_past = filter_canceled_reservations(df_all_past)
df_all_future = filter_canceled_reservations(df_all_future)

# Clean and expand dataframes
expanded_df_past = expand_dataframe(df_all_past[['reservationID', 'source', 'detailedRates', 'rooms']])
expanded_df_future = expand_dataframe(df_all_future[['reservationID', 'source', 'detailedRates', 'rooms']])

In [7]:
expanded_df_future.head()

,reservationID,source_name,date,price,adults,day,month,year
0,3195492555747,Website/Booking Engine,2023-06-15,37.0,1,15,6,2023
0,3195492555747,Website/Booking Engine,2023-06-16,41.0,1,16,6,2023
0,3195492555747,Website/Booking Engine,2023-06-17,41.0,1,17,6,2023
1,7735802583438,Hostelworld,2023-06-12,32.3,1,12,6,2023
1,7735802583438,Hostelworld,2023-06-13,39.0,1,13,6,2023

In [8]:
expanded_df_past.head()

   reservationID  source_name       date  price adults  day  month  year
0  7735802583438  Hostelworld 2023-06-12   32.3      1   12      6  2023
0  7735802583438  Hostelworld 2023-06-13   39.0      1   13      6  2023
1  7985668671700  Booking.com 2023-06-13   39.0      1   13      6  2023
2  4366035923978  Hostelworld 2023-06-11   34.0      1   11      6  2023
2  4366035923978  Hostelworld 2023-06-12   32.3      1   12      6  2023

In [13]:
# Drop blank values
expanded_df_past.dropna(subset=['adults'], inplace=True)
expanded_df_future.dropna(subset=['adults'], inplace=True)

# Remove values after today's date for past_rev
expanded_df_past = expanded_df_past[expanded_df_past ['date'] <= today]

# Remove values before today's date for future_rev
expanded_df_future = expanded_df_future[expanded_df_future['date'] >= today]

# Create a pivot table with sum of prices
pivot_table_past_rev = pd.pivot_table(expanded_df_past, values='price', index='month', columns='day', aggfunc='sum')
pivot_table_future_rev = pd.pivot_table(expanded_df_future, values='price', index='month', columns='day', aggfunc='sum')

# Reindex the columns to have labels 1-31
pivot_table_past_rev = pivot_table_past_rev.reindex(columns=range(1, 32))
pivot_table_future_rev = pivot_table_future_rev.reindex(columns=range(1, 32))

# Reindex the rows to have labels as month names and sort by year
sorted_months_past_rev = sorted(pivot_table_past_rev.index.unique(), key=lambda x: (expanded_df_past[expanded_df_past['month'] == x]['year'].min(), x))
pivot_table_past_rev = pivot_table_past_rev.reindex(index=sorted_months_past_rev)
pivot_table_past_rev.index = pivot_table_past_rev.index.map(lambda x: calendar.month_abbr[x])

sorted_months_future_rev = sorted(pivot_table_future_rev.index.unique(), key=lambda x: (expanded_df_future[expanded_df_future['month'] == x]['year'].min(), x))
pivot_table_future_rev = pivot_table_future_rev.reindex(index=sorted_months_future_rev)
pivot_table_future_rev.index = pivot_table_future_rev.index.map(lambda x: calendar.month_abbr[x])

# Fill blank cells with 0 in the DataFrames
pivot_table_past_rev.fillna(0, inplace=True)
pivot_table_future_rev.fillna(0, inplace=True)

# Apply background gradient to columns 1 to 31
cm = sns.light_palette("green", as_cmap=True)
pivot_table_past_rev_styled = pivot_table_past_rev.style.background_gradient(cmap=cm, subset=pivot_table_past_rev.columns[0:31], axis=1, low=0, high=1)
pivot_table_future_rev_styled = pivot_table_future_rev.style.background_gradient(cmap=cm, subset=pivot_table_future_rev.columns[0:31], axis=1, low=0, high=1)


# Export styled DataFrames to separate Excel files
pivot_table_past_rev_styled.to_excel('Output/past_rev.xlsx', index=True, header=True, engine='openpyxl')
pivot_table_future_rev_styled.to_excel('Output/future_rev.xlsx', index=True, header=True, engine='openpyxl')

In [14]:
# Convert 'adults' column to numeric values
expanded_df_past['adults'] = pd.to_numeric(expanded_df_past['adults'])
expanded_df_future['adults'] = pd.to_numeric(expanded_df_future['adults'])

# Create a pivot table with sum of adults per day divided by 68
pivot_table_past_occ = pd.pivot_table(expanded_df_past, values='adults', index='month', columns='day', aggfunc='sum') / 68
pivot_table_future_occ = pd.pivot_table(expanded_df_future, values='adults', index='month', columns='day', aggfunc='sum') / 68

# Reindex the columns to have labels 1-31
pivot_table_past_occ = pivot_table_past_occ.reindex(columns=range(1, 32))
pivot_table_future_occ = pivot_table_future_occ.reindex(columns=range(1, 32))

# Reindex the rows to have labels as month names and sort by year
sorted_months_past_occ = sorted(pivot_table_past_occ.index.unique(), key=lambda x: (expanded_df_past[expanded_df_past['month'] == x]['year'].min(), x))
pivot_table_past_occ = pivot_table_past_occ.reindex(index=sorted_months_past_occ)
pivot_table_past_occ.index = pivot_table_past_occ.index.map(lambda x: calendar.month_abbr[x])

sorted_months_future_occ = sorted(pivot_table_future_occ.index.unique(), key=lambda x: (expanded_df_future[expanded_df_future['month'] == x]['year'].min(), x))
pivot_table_future_occ = pivot_table_future_occ.reindex(index=sorted_months_future_occ)
pivot_table_future_occ.index = pivot_table_future_occ.index.map(lambda x: calendar.month_abbr[x])

# Fill blank cells with 0 in the DataFrames
pivot_table_past_occ.fillna(0, inplace=True)
pivot_table_future_occ.fillna(0, inplace=True)

# Apply background gradient to columns 1 to 31
cm = sns.light_palette("green", as_cmap=True)
pivot_table_past_occ_styled = pivot_table_past_occ.style.background_gradient(cmap=cm, subset=pivot_table_past_occ.columns[0:31], axis=1, low=0, high=1)
pivot_table_future_occ_styled = pivot_table_future_occ.style.background_gradient(cmap=cm, subset=pivot_table_future_occ.columns[0:31], axis=1, low=0, high=1)


# Export styled DataFrames to separate Excel files
pivot_table_past_occ_styled.to_excel('Output/past_occ.xlsx', index=True, header=True, engine='openpyxl')
pivot_table_future_occ_styled.to_excel('Output/future_occ.xlsx', index=True, header=True, engine='openpyxl')

In [30]:
pivot_table_past_rev.to_csv('Output/past_rev.csv', index=True)
pivot_table_future_rev.to_csv('Output/future_rev.csv', index=True)
pivot_table_past_occ.to_csv('Output/past_occ.csv', index=True)
pivot_table_future_occ.to_csv('Output/future_occ.csv', index=True)