In [1]:
# Dependencies
import requests
import pandas as pd
import json
import datetime
import requests
from datetime import datetime, timedelta

from config import grant_type, client_id, client_secret, redirect_url,refresh_token

In [2]:
# Step 1: Create the OAuth link and authorize the access
oauth_link = f"https://hotels.cloudbeds.com/api/v1.1/oauth?client_id={client_id}&redirect_uri={redirect_url}&response_type=code"
print(f"Please go to this URL to authorize access: {oauth_link}")

# Step 2: Retrieve the authorization code from the redirect URL
auth_code = input("Enter the authorization code from the redirect URL: ")

url = 'https://hotels.cloudbeds.com/api/v1.1/access_token'
headers = {'Content-type': 'application/json'}

# Specify the grant type and other parameters based on your authentication flow
if grant_type == 'authorization_code':
    data = {
        'grant_type': 'authorization_code',
        'client_id': client_id,
        'client_secret': client_secret,
        'redirect_uri': redirect_url,
        'code': auth_code
    }
elif grant_type == 'refresh_token':
    data = {
        'grant_type': 'refresh_token',
        'client_id': client_id,
        'client_secret': client_secret,
        'refresh_token': refresh_token
    }

response = requests.post(url, data=data)

if response.ok:
    access_token_data = response.json()
    access_token = access_token_data["access_token"]
    token_type = access_token_data["token_type"]
    expires_in = access_token_data["expires_in"]
    refresh_token = access_token_data.get("refresh_token")
    print(f"Access token: {access_token}")
    print(f"Token type: {token_type}")
    print(f"Expires in: {expires_in} seconds")
    if refresh_token:
        print(f"Refresh token: {refresh_token}")
else:
    print("Error retrieving access token.")
    print(response.json())

Please go to this URL to authorize access: https://hotels.cloudbeds.com/api/v1.1/oauth?client_id=live1_172779_NOXF9fcUKEH6zMahDiSuv4T0&redirect_uri=https://webhook.site/2004f68e-9121-4331-a917-8bb8f74fbbb2&response_type=code
Access token: eyJraWQiOiI5eFUtV09RSWFtWXdLM3JneHF0NG9wbWNEVXdXWlQ3QXRUQm9TTzVuQ3hnIiwiYWxnIjoiUlMyNTYifQ.eyJ2ZXIiOjEsImp0aSI6IkFULl9JOFo0SHRUaldqMHRjT3ExVHp0QUhpU285UHBTWjhjS3RiZ1hLdU9ELWcub2FyMTJlZ3d0d09aOHhJZmI1ZDciLCJpc3MiOiJodHRwczovL2lkcC5jbG91ZGJlZHMuY29tL29hdXRoMi9hdXNkNWcydTY5QmxKNFdBYzVkNiIsImF1ZCI6Imh0dHBzOi8vaG90ZWxzLmNsb3VkYmVkcy5jb20vYXBpIiwiaWF0IjoxNjg1MDY1NDgzLCJleHAiOjE2ODUwNjkwODMsImNpZCI6ImxpdmUxXzE3Mjc3OV9OT1hGOWZjVUtFSDZ6TWFoRGlTdXY0VDAiLCJ1aWQiOiIwMHUxbmthcHRlUjYwNmdmWDVkNyIsInNjcCI6WyJvZmZsaW5lX2FjY2VzcyJdLCJhdXRoX3RpbWUiOjE2ODQxODU5NzgsInN1YiI6ImtlbnRyb3RoKzFAZ21haWwuY29tIiwiYXNzb2NpYXRpb25JZHMiOltdLCJpc2xhbmQiOjEsInByb3BlcnR5SWRzIjpbMTcyNzc5XSwibWZkVXNlcklkIjoyMzMyOTIsInR5cGUiOiJwcm9wZXJ0eSJ9.jUSs96gaBxa-070mN_VqWGnPujl-CshgS3jRcEDV6z8WWSOsPVkxC3j1rs5QhDkdrAQt33BzYVG5743zAEscqikUYL46scT0WDrJl99wXbTxZ41IQAcEHNF_QtPfOA6QETWk8nV1QD5H_Buf8XK4lNZ7KFX_iXqPnxRNaBv1N7ZgCHawyiKKEl3VPA3lP1cuHgDmZN16DRfZDqKkMA4C26KBkdBYnQIDfKDqVuS7iyRTKrWE1LDs4RFIzdXwXXG6pm-zqDDDaS4A2K582xqIKy6jElecglkjKu6ppEsu45lwpmG6q2CaKaP7eAgPPZlGPg0tSMXQQRk1_A3AY6dLFA
Token type: Bearer
Expires in: 3600 seconds
Refresh token: 3MfCwiV0Xp9un1Y9VbEcMwtwHnG8wRpQGIrW0shL81U

In [3]:
#Pull 1 year past data

url = "https://hotels.cloudbeds.com/api/v1.1/getReservationsWithRateDetails"

# Set up pagination parameters
page_number = 1
page_size = 100

results_past=[]

# Set the date range for the previous year
today = datetime.now()
one_year_ago = today - timedelta(days=365)

while True:
    # Parameters for the API request
    headers = {
        'Authorization': f'Bearer {access_token}'
    }
    params = {
        "reservationCheckOutFrom": one_year_ago.strftime("%Y-%m-%d"),
        "reservationCheckOutTo": today.strftime("%Y-%m-%d"),
        "sortByRecent": True,
        "pageNumber": page_number,
        "pageSize": page_size
    }

    # Make the API request
    response = requests.get(url, params=params, headers=headers)

    # Extract the 'data' field from the API response
    api_data = response.json().get('data', [])

    # Create a DataFrame from the extracted data
    df = pd.DataFrame(api_data)

    # Append the DataFrame to the overall results list
    results_past.append(df)

    # Check if there are more results
    if len(df) < page_size:
        break

    # Increment the page number for the next request
    page_number += 1

# Concatenate all the DataFrames into one
df_all_past = pd.concat(results_past, ignore_index=True)

# Print the final DataFrame
print(df_all_past)

      reservationID  isDeleted          dateCreated       dateCreatedUTC  \
0     0283876693673      False  2023-04-23 19:36:39  2023-04-24 00:36:39
1     0639615281850      False  2023-05-24 19:53:34  2023-05-25 00:53:34
2     8216207647932      False  2023-02-25 09:27:37  2023-02-25 15:27:37
3     4800649080969      False  2023-05-22 23:51:04  2023-05-23 04:51:04
4     8769704772509      False  2023-03-08 18:28:02  2023-03-09 00:28:02
...             ...        ...                  ...                  ...
7500  2981326909508      False  2022-01-27 08:46:12  2022-01-27 14:46:12
7501  1723741176202      False  2022-01-21 07:48:29  2022-01-21 13:48:29
7502  2625454162721      False  2022-01-16 09:11:45  2022-01-16 15:11:45
7503  3118431497232      False  2021-12-05 16:11:26  2021-12-05 22:11:26
7504  6597804802670      False  2022-01-07 01:46:26  2022-01-07 07:46:26

             dateModified      dateModifiedUTC       status  \
0     2023-05-25 12:25:03  2023-05-25 17:25:03  checked_out
1     2023-05-25 12:25:01  2023-05-25 17:25:01  checked_out
2     2023-05-25 12:24:54  2023-05-25 17:24:54  checked_out
3     2023-05-25 11:54:43  2023-05-25 16:54:43  checked_out
4     2023-05-25 11:50:41  2023-05-25 16:50:41  checked_out
...                   ...                  ...          ...
7500  2022-01-28 13:31:07  2022-01-28 19:31:07     canceled
7501  2022-01-21 16:21:16  2022-01-21 22:21:16     canceled
7502  2022-01-20 12:00:46  2022-01-20 18:00:46     canceled
7503  2022-01-09 06:53:42  2022-01-09 12:53:42     canceled
7504  2022-01-07 07:32:33  2022-01-07 13:32:33     canceled

     reservationCheckIn reservationCheckOut   guestID  ...  \
0            2023-05-23          2023-05-25  74096675  ...
1            2023-05-24          2023-05-25  76280259  ...
2            2023-05-24          2023-05-25  69975488  ...
3            2023-05-24          2023-05-25  73105597  ...
4            2023-05-24          2023-05-25  70807051  ...
...                 ...                 ...       ...  ...
7500         2022-09-18          2022-09-19  47897035  ...
7501         2022-08-14          2022-08-15  47667203  ...
7502         2022-06-30          2022-07-05  47465664  ...
7503         2022-06-13          2022-06-16  46014614  ...
7504         2022-07-06          2022-07-11  47128058  ...

                                                 source sourceCategory  \
0     {'name': 'Booking.com', 'paymentCollect': 'hot...            OTA
1     {'name': 'Website/Booking Engine', 'paymentCol...            NaN
2     {'name': 'Expedia', 'paymentCollect': 'hotel',...            OTA
3     {'name': 'Hostelworld', 'paymentCollect': 'hot...            OTA
4     {'name': 'Hostelworld', 'paymentCollect': 'hot...            OTA
...                                                 ...            ...
7500  {'name': 'Booking.com', 'paymentCollect': 'hot...            OTA
7501  {'name': 'Booking.com', 'paymentCollect': 'hot...            OTA
7502  {'name': 'Airbnb (API)', 'paymentCollect': 'ho...            OTA
7503  {'name': 'Airbnb (API)', 'paymentCollect': 'ho...            OTA
7504  {'name': 'Booking.com', 'paymentCollect': 'hot...            OTA

     sourceReservationID propertyCurrency  \
0             2792507614              USD
1                    NaN              USD
2             1463822985              USD
3        64785-553927154              USD
4        64785-552197083              USD
...                  ...              ...
7500          2811169606              USD
7501          3934891046              USD
7502          HMEJ2YFCAF              USD
7503          HMTM88JSBH              USD
7504          2650029727              USD

                                        balanceDetailed allotmentBlockCode  \
0     {'suggestedDeposit': '0.00', 'subTotal': 298, ...               None
1     {'suggestedDeposit': '0.00', 'subTotal': 125, ...               None
2     {'suggestedDeposit': '0.00', 'subTotal': 118.9...               None
3     {'suggestedDeposit': '0.00', 'subTotal': 32.3,...               None
4     {'suggestedDeposit': '0.00', 'subTotal': 32.3,...               None
...                                                 ...                ...
7500  {'suggestedDeposit': '0.00', 'subTotal': 39, '...               None
7501  {'suggestedDeposit': '0.00', 'subTotal': 39, '...               None
7502  {'suggestedDeposit': '0.00', 'subTotal': 959.9...               None
7503  {'suggestedDeposit': '0.00', 'subTotal': 105.0...               None
7504  {'suggestedDeposit': '0.00', 'subTotal': 191.7...               None

                                          detailedRates  \
0                {'2023-05-23': 149, '2023-05-24': 149}
1                                   {'2023-05-24': 125}
2                                   {'2023-05-24': 119}
3                                  {'2023-05-24': 32.3}
4                                  {'2023-05-24': 32.3}
...                                                 ...
7500                                 {'2022-09-18': 39}
7501                                 {'2022-08-14': 39}
7502  {'2022-06-30': 191.99, '2022-07-01': 191.99, '...
7503  {'2022-06-13': 35.02, '2022-06-14': 35.02, '20...
7504  {'2022-07-06': 33.3, '2022-07-07': 35.1, '2022...

                                                  rooms        dateCancelled  \
0     [{'roomTypeID': '215609', 'roomTypeName': 'Bra...                  NaN
1     [{'roomTypeID': '215607', 'roomTypeName': 'Eco...                  NaN
2     [{'roomTypeID': '215608', 'roomTypeName': 'Pri...                  NaN
3     [{'roomTypeID': '215604', 'roomTypeName': 'Del...                  NaN
4     [{'roomTypeID': '215604', 'roomTypeName': 'Del...                  NaN
...                                                 ...                  ...
7500  [{'roomTypeID': '215605', 'roomTypeName': 'Del...  2022-01-28 13:31:00
7501  [{'roomTypeID': '215605', 'roomTypeName': 'Del...  2022-01-21 16:21:11
7502  [{'roomTypeID': '215609', 'roomTypeName': 'Bra...  2022-01-20 12:00:42
7503  [{'roomTypeID': '213806', 'roomTypeName': 'Del...  2022-01-09 06:53:29
7504  [{'roomTypeID': '215606', 'roomTypeName': 'Del...  2022-01-07 07:32:25

         dateCancelledUTC
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
...                   ...
7500  2022-01-28 19:31:00
7501  2022-01-21 22:21:11
7502  2022-01-20 18:00:42
7503  2022-01-09 12:53:29
7504  2022-01-07 13:32:25

[7505 rows x 23 columns]

In [4]:
#Pull 1 year future data

url = "https://hotels.cloudbeds.com/api/v1.1/getReservationsWithRateDetails"

# Set up pagination parameters
page_number = 1
page_size = 100

results_future=[]

# Set the date range for the previous year
today = datetime.now()
one_year_ahead = today + timedelta(days=365)

while True:
    # Parameters for the API request
    headers = {
        'Authorization': f'Bearer {access_token}'
    }
    params = {
        "reservationCheckOutFrom": today.strftime("%Y-%m-%d"),
        "reservationCheckOutTo": one_year_ahead.strftime("%Y-%m-%d"),
        "sortByRecent": True,
        "pageNumber": page_number,
        "pageSize": page_size
    }


    # Make the API request
    response = requests.get(url, params=params, headers=headers)

    # Extract the 'data' field from the API response
    api_data = response.json().get('data', [])

    # Create a DataFrame from the extracted data
    df = pd.DataFrame(api_data)

    # Append the DataFrame to the overall results list
    results_future.append(df)

    # Check if there are more results
    if len(df) < page_size:
        break

    # Increment the page number for the next request
    page_number += 1

# Concatenate all the DataFrames into one
df_all_future = pd.concat(results_future, ignore_index=True)

# Print the final DataFrame
print(df_all_future)

     reservationID  isDeleted          dateCreated       dateCreatedUTC  \
0    9595850071467      False  2023-04-09 21:03:27  2023-04-10 02:03:27
1    0278823263007      False  2023-05-25 18:40:24  2023-05-25 23:40:24
2    1753623055853      False  2023-04-18 05:32:20  2023-04-18 10:32:20
3    9471939176154      False  2023-01-09 02:57:55  2023-01-09 08:57:55
4    0486584492642      False  2023-05-25 19:04:25  2023-05-26 00:04:25
..             ...        ...                  ...                  ...
661  8668732599792      False  2022-10-02 01:01:18  2022-10-02 06:01:18
662  8901269886916      False  2022-09-21 12:43:29  2022-09-21 17:43:29
663  7442886603568      False  2022-09-14 13:03:45  2022-09-14 18:03:45
664  9768135512101      False  2022-09-14 09:29:29  2022-09-14 14:29:29
665  8438510931843      False  2022-08-20 22:55:12  2022-08-21 03:55:12

            dateModified      dateModifiedUTC      status reservationCheckIn  \
0    2023-05-25 19:46:29  2023-05-26 00:46:29  checked_in         2023-05-25
1    2023-05-25 19:40:27  2023-05-26 00:40:27   confirmed         2023-06-23
2    2023-05-25 19:24:46  2023-05-26 00:24:46  checked_in         2023-05-25
3    2023-05-25 19:22:09  2023-05-26 00:22:09   confirmed         2023-06-21
4    2023-05-25 19:04:34  2023-05-26 00:04:34   confirmed         2023-06-08
..                   ...                  ...         ...                ...
661  2022-10-02 01:01:25  2022-10-02 06:01:25   confirmed         2023-07-27
662  2022-09-28 21:25:26  2022-09-29 02:25:26    canceled         2023-07-27
663  2022-09-14 13:03:58  2022-09-14 18:03:58   confirmed         2023-06-09
664  2022-09-14 09:29:40  2022-09-14 14:29:40   confirmed         2023-07-27
665  2022-08-20 22:55:21  2022-08-21 03:55:21   confirmed         2023-06-13

    reservationCheckOut   guestID  ...  \
0            2023-05-30  73105597  ...
1            2023-06-26  76343975  ...
2            2023-05-28  73709110  ...
3            2023-06-24  66602657  ...
4            2023-06-10  76345067  ...
..                  ...       ...  ...
661          2023-07-31  60906961  ...
662          2023-07-30  60319061  ...
663          2023-06-11  59912290  ...
664          2023-07-31  59901190  ...
665          2023-06-15  58463643  ...

                                                source sourceCategory  \
0    {'name': 'Hostelworld', 'paymentCollect': 'hot...            OTA
1    {'name': 'Website/Booking Engine', 'paymentCol...            NaN
2    {'name': 'Website/Booking Engine', 'paymentCol...            NaN
3    {'name': 'Website/Booking Engine', 'paymentCol...            NaN
4    {'name': 'Booking.com', 'paymentCollect': 'hot...            OTA
..                                                 ...            ...
661  {'name': 'Website/Booking Engine', 'paymentCol...            NaN
662  {'name': 'Airbnb (API)', 'paymentCollect': 'ho...            OTA
663  {'name': 'Booking.com', 'paymentCollect': 'hot...            OTA
664  {'name': 'Expedia', 'paymentCollect': 'hotel',...            OTA
665  {'name': 'Booking.com', 'paymentCollect': 'hot...            OTA

    sourceReservationID propertyCurrency  \
0       64785-552939290              USD
1                   NaN              USD
2                   NaN              USD
3                   NaN              USD
4            2178021024              USD
..                  ...              ...
661                 NaN              USD
662          HM8BZQAFRS              USD
663          2876944069              USD
664          2012035700              USD
665          2424141850              USD

                                       balanceDetailed allotmentBlockCode  \
0    {'suggestedDeposit': '0.00', 'subTotal': 846.6...               None
1    {'suggestedDeposit': '0.00', 'subTotal': 477, ...               None
2    {'suggestedDeposit': '0.00', 'subTotal': 159, ...               None
3    {'suggestedDeposit': '0.00', 'subTotal': 146, ...               None
4    {'suggestedDeposit': '0.00', 'subTotal': 93, '...               None
..                                                 ...                ...
661  {'suggestedDeposit': '0.00', 'subTotal': 756, ...               None
662  {'suggestedDeposit': '0.00', 'subTotal': 622.6...               None
663  {'suggestedDeposit': '0.00', 'subTotal': 208, ...               None
664  {'suggestedDeposit': '0.00', 'subTotal': 186, ...               None
665  {'suggestedDeposit': '0.00', 'subTotal': 298, ...               None

                                         detailedRates  \
0    {'2023-05-25': 159.8, '2023-05-26': 190.4, '20...
1    {'2023-06-23': 169, '2023-06-24': 169, '2023-0...
2    {'2023-05-25': 47, '2023-05-26': 56, '2023-05-...
3    {'2023-06-21': 43, '2023-06-22': 47, '2023-06-...
4                 {'2023-06-08': 41, '2023-06-09': 52}
..                                                 ...
661  {'2023-07-27': 169, '2023-07-28': 209, '2023-0...
662  {'2023-07-27': 207.55, '2023-07-28': 207.54, '...
663             {'2023-06-09': 104, '2023-06-10': 104}
664  {'2023-07-27': 41, '2023-07-28': 52, '2023-07-...
665             {'2023-06-13': 149, '2023-06-14': 149}

                                                 rooms        dateCancelled  \
0    [{'roomTypeID': '215604', 'roomTypeName': 'Del...                  NaN
1    [{'roomTypeID': '215608', 'roomTypeName': 'Pri...                  NaN
2    [{'roomTypeID': '215604', 'roomTypeName': 'Del...                  NaN
3    [{'roomTypeID': '215604', 'roomTypeName': 'Del...                  NaN
4    [{'roomTypeID': '215605', 'roomTypeName': 'Del...                  NaN
..                                                 ...                  ...
661  [{'roomTypeID': '215609', 'roomTypeName': 'Bra...                  NaN
662  [{'roomTypeID': '215609', 'roomTypeName': 'Bra...  2022-09-28 21:25:22
663  [{'roomTypeID': '213806', 'roomTypeName': 'Del...                  NaN
664  [{'roomTypeID': '213806', 'roomTypeName': 'Del...                  NaN
665  [{'roomTypeID': '215609', 'roomTypeName': 'Bra...                  NaN

        dateCancelledUTC
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
..                   ...
661                  NaN
662  2022-09-29 02:25:22
663                  NaN
664                  NaN
665                  NaN

[666 rows x 23 columns]

In [5]:
print(f"We received {len(df_all_past)} past reservations.")
print(f"We received {len(df_all_future)} future resservations.")

We received 7505 past reservations.
We received 666 future resservations.

In [21]:
#create cleaning data function
def expand_dataframe(df):
    expanded_rows = []
    
    for index, row in df.iterrows():
        detailed_rates = row['detailedRates']

        if detailed_rates:
            for date, price in detailed_rates.items():
                new_row = row.copy()
                new_row['date'] = date
                new_row['price'] = price
                expanded_rows.append(new_row)

    expanded_df = pd.DataFrame(expanded_rows)
    expanded_df.drop('detailedRates', axis=1, inplace=True)
    
    expanded_df['source'] = expanded_df['source'].apply(lambda x: x['name'])
    expanded_df.rename(columns={'source': 'source_name'}, inplace=True)
    
    expanded_df['adults'] = expanded_df['rooms'].apply(lambda x: x[0]['adults'])
    expanded_df.drop('rooms', axis=1, inplace=True)
    
    expanded_df['date'] = pd.to_datetime(expanded_df['date'])
    expanded_df['day'] = expanded_df['date'].dt.day
    expanded_df['month'] = expanded_df['date'].dt.month
    expanded_df['year'] = expanded_df['date'].dt.year
    
    return expanded_df

#create filter data for 'canceled' function
def filter_canceled_reservations(df):
    return df[df['status'] != 'canceled']

# Filter 'canceled' reservations
df_all_past = filter_canceled_reservations(df_all_past)
df_all_future = filter_canceled_reservations(df_all_future)

# Clean and expand dataframes
expanded_df_past = expand_dataframe(df_all_past[['reservationID', 'source', 'detailedRates', 'rooms']])
expanded_df_future = expand_dataframe(df_all_future[['reservationID', 'source', 'detailedRates', 'rooms']])

In [22]:
expanded_df_future.head()

   reservationID  source_name       date  price adults  day  month  year
0  9595850071467  Hostelworld 2023-05-25  159.8      1   25      5  2023
0  9595850071467  Hostelworld 2023-05-26  190.4      1   26      5  2023
0  9595850071467  Hostelworld 2023-05-27  190.4      1   27      5  2023
0  9595850071467  Hostelworld 2023-05-28  159.8      1   28      5  2023
0  9595850071467  Hostelworld 2023-05-29  146.2      1   29      5  2023

In [23]:
expanded_df_past.head()

,reservationID,source_name,date,price,adults,day,month,year
0,0283876693673,Booking.com,2023-05-23,149.0,2,23,5,2023
0,0283876693673,Booking.com,2023-05-24,149.0,2,24,5,2023
1,0639615281850,Website/Booking Engine,2023-05-24,125.0,1,24,5,2023
2,8216207647932,Expedia,2023-05-24,119.0,2,24,5,2023
3,4800649080969,Hostelworld,2023-05-24,32.3,1,24,5,2023

In [34]:


# Create a pivot table with sum of prices
pivot_table_past_rev = pd.pivot_table(expanded_df_past, values='price', index='month', columns='day', aggfunc='sum')
pivot_table_future_rev = pd.pivot_table(expanded_df_future, values='price', index='month', columns='day', aggfunc='sum')

# Reindex the columns to have labels 1-31
pivot_table_past_rev = pivot_table_past_rev.reindex(columns=range(1, 32))
pivot_table_future_rev = pivot_table_future_rev.reindex(columns=range(1, 32))

# Reindex the rows to have labels 1-12 and sort by year
sorted_months_past_rev = sorted(pivot_table_past_rev.index.unique(), key=lambda x: (expanded_df_past[expanded_df_past['month'] == x]['year'].min(), x))
pivot_table_past_rev = pivot_table_past_rev.reindex(index=sorted_months_past_rev)

sorted_months_future_rev = sorted(pivot_table_future_rev.index.unique(), key=lambda x: (expanded_df_future[expanded_df_future['month'] == x]['year'].min(), x))
pivot_table_future_rev = pivot_table_future_rev.reindex(index=sorted_months_future_rev)

In [35]:
# Convert 'adults' column to numeric values
expanded_df_past['adults'] = pd.to_numeric(expanded_df_past['adults'])
expanded_df_future['adults'] = pd.to_numeric(expanded_df_future['adults'])

# Create a pivot table with sum of adults per day divided by 68
pivot_table_past_occ = pd.pivot_table(expanded_df_past, values='adults', index='month', columns='day', aggfunc='sum') / 68
pivot_table_future_occ = pd.pivot_table(expanded_df_future, values='adults', index='month', columns='day', aggfunc='sum') / 68

# Reindex the columns to have labels 1-31
pivot_table_past_occ = pivot_table_past_occ.reindex(columns=range(1, 32))
pivot_table_future_occ = pivot_table_future_occ.reindex(columns=range(1, 32))

# Reindex the rows to have labels 1-12 and sort by year
sorted_months_past_occ = sorted(pivot_table_past_occ.index.unique(), key=lambda x: (expanded_df_past[expanded_df_past['month'] == x]['year'].min(), x))
pivot_table_past_occ = pivot_table_past_occ.reindex(index=sorted_months_past_occ)

sorted_months_future_occ = sorted(pivot_table_future_occ.index.unique(), key=lambda x: (expanded_df_future[expanded_df_future['month'] == x]['year'].min(), x))
pivot_table_future_occ = pivot_table_future_occ.reindex(index=sorted_months_future_occ)

In [36]:
pivot_table_past_rev.to_csv('past_rev.csv',index=False)
pivot_table_past_occ.to_csv('past_occ.csv',index=False)
pivot_table_future_rev.to_csv('future_rev.csv',index=False)
pivot_table_future_occ.to_csv('future_occ.csv',index=False)

In [37]:
# Print the pivot table
print(pivot_table_past_rev)

day         1        2        3        4        5        6        7        8   \
month
5      1873.48  1722.61  2096.95  2445.82  2908.14  3068.36  2222.98  1860.31
6      1944.82  1947.70  2803.71  2916.05  1713.21  1612.88  1790.20  2116.54
7      2646.65  2699.50  2286.66  1726.92  1391.08  1276.18  1917.72  2688.52
8      1852.92  1759.69  1903.54  1923.05  2491.50  2522.73  1472.18  1323.90
9      1964.37  2346.49  2490.84  1795.50  1346.66  1342.32  1383.99  1891.87
10     2728.29  1527.88  1244.03  1702.41  1799.99  3338.04  4299.60  4299.60
11     1081.00  1060.00  1265.00  2496.12  2359.67  1332.86  1092.77  1540.06
12     2013.82  2167.28  2413.05  1245.10  1267.94  1708.60  1816.30  1957.34
1      1599.57  1549.11  1217.86  1523.08  2132.95  2255.47  2296.76  1332.12
2      1165.21  1514.11  2100.82  2641.99  1485.32  1646.96  1450.48  1594.93
3      1544.81  1743.87  2382.20  2767.42  2210.80  2016.15  1603.56  2077.22
4      2785.23  2119.07  1685.46  1789.18  1850.25  2183.22  2830.51  2427.86

day         9        10  ...       22       23       24       25       26  \
month                    ...
5      1462.23  1553.22  ...  1745.54  2696.67  2922.58  2222.38  2341.03
6      2260.62  2766.73  ...  1220.66  1784.98  2033.26  2593.38  2048.90
7      2147.39  1301.50  ...  2446.60  2630.78  1737.72  1588.34  1579.49
8      1497.20  1834.26  ...  1532.95  1933.79  1579.15  1657.42  2145.63
9      2761.61  2636.78  ...  2262.17  2778.41  2865.29  2389.71  2169.62
10     2660.13  1311.81  ...  4388.96  2609.16  1378.00   674.00  1371.00
11     1842.56  2427.23  ...  1250.94  1297.78  1756.93  2306.30  2065.47
12     2172.97  2178.52  ...  1498.91  1199.33  1585.29   889.19   853.99
1      1217.88  1227.79  ...  1007.45   859.77   709.81   940.33  1956.17
2      1886.00  2439.54  ...  1412.21  1650.95  2596.89  2581.61  1795.81
3      3380.00  5409.00  ...  2013.88  2487.20  2964.80  2963.76  2039.38
4      1724.51  1097.92  ...  3039.45  2252.40  2045.93  2332.84  2304.94

day         27       28       29       30       31
month
5      2847.71  2791.38  1956.64  1706.13  1914.95
6      1737.80  1272.14  1700.43  2336.67      NaN
7      1465.46  1650.94  2693.21  2621.04  1800.17
8      2273.62  1496.68   953.06  1446.57  1476.74
9      2225.24  2118.74  2403.24  2682.71      NaN
10     2519.00  3858.00  3957.00  2182.00  1074.00
11     1056.47  1423.04  1332.66  1453.60      NaN
12      930.40  1286.89  1536.40  2451.10  2528.23
1      2741.10  2549.49  1799.21  1003.05   975.81
2      1283.44  1458.54      NaN      NaN      NaN
3      2078.52  2044.33  2493.45  2252.55  2763.49
4      2607.25  2835.24  2761.37  2279.30      NaN

[12 rows x 31 columns]

In [38]:
print(pivot_table_future_rev)

day         1        2        3        4        5        6       7        8   \
month
5          NaN      NaN      NaN      NaN      NaN      NaN     NaN      NaN
6      2104.90  2756.74  2734.38  1569.01  1080.50   672.29   966.2  1178.61
7       483.49   387.76   460.66   587.55   791.77  1487.86  2054.5  2208.12
8        39.00    82.10   121.50   141.84   141.84    41.00    78.0   265.40
9       527.15   782.38   716.68   394.18   343.70   308.00   348.0   540.00
10      244.00   208.00   208.00      NaN   319.00  1911.00  1992.0  1188.00
11       41.00    62.00    81.00    81.00    52.00    41.00    41.0    41.00
12       47.00    42.50      NaN      NaN      NaN      NaN     NaN      NaN
1        37.00    37.00    37.00    39.00    47.00    47.00     NaN      NaN

day         9        10  ...       22      23       24       25       26  \
month                    ...
5          NaN      NaN  ...   346.63  737.63  1715.97  1851.97  2534.14
6      2831.22  2395.01  ...   788.40  934.45   846.30   607.44   298.70
7      1352.88   267.62  ...   130.90  202.80    71.40    71.40   435.88
8       256.90   271.80  ...   155.78  151.78   159.18   156.00   297.40
9       524.56   392.55  ...   395.25  395.25    76.95    71.55    71.55
10       41.00      NaN  ...  1041.00  243.00    41.00   271.00   395.00
11       62.00      NaN  ...    34.00   74.87    81.67    81.67    39.17
12         NaN    39.00  ...      NaN     NaN      NaN    37.00    37.00
1          NaN      NaN  ...      NaN  111.00      NaN      NaN      NaN

day         27       28       29       30       31
month
5      2900.26  2259.92  1511.76  1267.45  1887.50
6       378.70   372.68   398.00   676.74      NaN
7      1145.24  1280.43  1355.21   602.89   119.27
8       157.00    32.30      NaN    39.00   258.40
9        36.55   387.95   699.60   868.60      NaN
10      613.00   613.00   365.00    41.00    41.00
11       39.16    37.00    37.00    39.00      NaN
12         NaN      NaN    47.00    47.00    39.00
1          NaN      NaN      NaN      NaN      NaN

[9 rows x 31 columns]

In [39]:
print(pivot_table_future_occ)

day          1         2         3         4         5         6         7   \
month
5           NaN       NaN       NaN       NaN       NaN       NaN       NaN
6      0.661765  0.691176  0.661765  0.514706  0.367647  0.220588  0.382353
7      0.132353  0.132353  0.176471  0.205882  0.294118  0.514706  0.588235
8      0.014706  0.029412  0.044118  0.044118  0.044118  0.014706  0.029412
9      0.102941  0.147059  0.161765  0.102941  0.073529  0.058824  0.058824
10     0.014706  0.014706  0.014706       NaN  0.058824  0.264706  0.279412
11     0.014706  0.014706  0.014706  0.014706  0.014706  0.014706  0.014706
12     0.014706  0.014706       NaN       NaN       NaN       NaN       NaN
1      0.014706  0.014706  0.014706  0.014706  0.014706  0.014706       NaN

day          8         9         10  ...        22        23        24  \
month                                ...
5           NaN       NaN       NaN  ...  0.132353  0.250000  0.544118
6      0.411765  0.647059  0.529412  ...  0.264706  0.294118  0.250000
7      0.617647  0.426471  0.102941  ...  0.029412  0.058824  0.014706
8      0.088235  0.102941  0.102941  ...  0.058824  0.058824  0.058824
9      0.073529  0.088235  0.058824  ...  0.117647  0.117647  0.029412
10     0.250000  0.014706       NaN  ...  0.176471  0.044118  0.014706
11     0.014706  0.014706       NaN  ...  0.014706  0.029412  0.029412
12          NaN       NaN  0.014706  ...       NaN       NaN       NaN
1           NaN       NaN       NaN  ...       NaN  0.044118       NaN

day          25        26        27        28        29        30        31
month
5      0.602941  0.705882  0.794118  0.750000  0.514706  0.411765  0.617647
6      0.205882  0.102941  0.117647  0.117647  0.117647  0.176471       NaN
7      0.014706  0.132353  0.338235  0.338235  0.352941  0.205882  0.044118
8      0.044118  0.073529  0.058824  0.014706       NaN  0.014706  0.073529
9      0.029412  0.029412  0.014706  0.073529  0.088235  0.147059       NaN
10     0.073529  0.088235  0.102941  0.102941  0.088235  0.014706  0.014706
11     0.029412  0.014706  0.014706  0.014706  0.014706  0.014706       NaN
12     0.014706  0.014706       NaN       NaN  0.014706  0.014706  0.014706
1           NaN       NaN       NaN       NaN       NaN       NaN       NaN

[9 rows x 31 columns]

In [40]:
print(pivot_table_past_occ)

day          1         2         3         4         5         6         7   \
month
5      0.647059  0.617647  0.750000  0.794118  0.720588  0.794118  0.705882
6      0.720588  0.661765  0.838235  0.764706  0.558824  0.558824  0.573529
7      0.764706  0.794118  0.794118  0.588235  0.500000  0.411765  0.573529
8      0.632353  0.588235  0.750000  0.691176  0.661765  0.661765  0.470588
9      0.558824  0.588235  0.691176  0.647059  0.485294  0.455882  0.500000
10     0.455882  0.411765  0.426471  0.544118  0.573529  0.617647  0.558824
11     0.352941  0.352941  0.352941  0.529412  0.529412  0.367647  0.352941
12     0.705882  0.750000  0.750000  0.470588  0.500000  0.617647  0.647059
1      0.602941  0.573529  0.485294  0.573529  0.750000  0.750000  0.779412
2      0.455882  0.588235  0.647059  0.735294  0.514706  0.573529  0.588235
3      0.514706  0.617647  0.647059  0.720588  0.735294  0.705882  0.558824
4      0.764706  0.705882  0.602941  0.632353  0.661765  0.691176  0.764706

day          8         9         10  ...        22        23        24  \
month                                ...
5      0.602941  0.514706  0.573529  ...  0.647059  0.676471  0.691176
6      0.676471  0.750000  0.838235  ...  0.382353  0.426471  0.411765
7      0.705882  0.573529  0.397059  ...  0.676471  0.720588  0.573529
8      0.470588  0.558824  0.661765  ...  0.558824  0.647059  0.514706
9      0.676471  0.661765  0.617647  ...  0.705882  0.735294  0.779412
10     0.558824  0.529412  0.397059  ...  0.544118  0.529412  0.411765
11     0.529412  0.647059  0.676471  ...  0.514706  0.500000  0.602941
12     0.676471  0.632353  0.676471  ...  0.514706  0.382353  0.441176
1      0.514706  0.485294  0.470588  ...  0.382353  0.352941  0.294118
2      0.647059  0.661765  0.676471  ...  0.470588  0.529412  0.735294
3      0.720588  0.573529  0.779412  ...  0.750000  0.823529  0.676471
4      0.632353  0.558824  0.426471  ...  0.691176  0.647059  0.691176

day          25        26        27        28        29        30        31
month
5      0.500000  0.455882  0.411765  0.647059  0.632353  0.529412  0.588235
6      0.558824  0.544118  0.500000  0.352941  0.617647  0.823529       NaN
7      0.573529  0.544118  0.514706  0.602941  0.735294  0.705882  0.588235
8      0.573529  0.602941  0.647059  0.529412  0.338235  0.514706  0.514706
9      0.735294  0.691176  0.691176  0.647059  0.750000  0.661765       NaN
10     0.235294  0.485294  0.558824  0.661765  0.691176  0.573529  0.397059
11     0.691176  0.647059  0.426471  0.544118  0.485294  0.529412       NaN
12     0.279412  0.308824  0.352941  0.485294  0.514706  0.676471  0.735294
1      0.382353  0.720588  0.794118  0.705882  0.588235  0.382353  0.367647
2      0.764706  0.602941  0.470588  0.500000       NaN       NaN       NaN
3      0.794118  0.720588  0.750000  0.661765  0.735294  0.720588  0.720588
4      0.735294  0.705882  0.764706  0.750000  0.735294  0.705882       NaN

[12 rows x 31 columns]