In [2]:
# Dependencies
import requests
import pandas as pd
import json
import datetime
import requests
import calendar
import openpyxl
import seaborn as sns
from datetime import datetime, timedelta

from config import grant_type, client_id, client_secret, redirect_url,refresh_token

In [3]:
# Step 1: Create the OAuth link and authorize the access
oauth_link = f"https://hotels.cloudbeds.com/api/v1.1/oauth?client_id={client_id}&redirect_uri={redirect_url}&response_type=code"
print(f"Please go to this URL to authorize access: {oauth_link}")

# Step 2: Retrieve the authorization code from the redirect URL
auth_code = input("Enter the authorization code from the redirect URL: ")

url = 'https://hotels.cloudbeds.com/api/v1.1/access_token'
headers = {'Content-type': 'application/json'}

# Specify the grant type and other parameters based on your authentication flow
if grant_type == 'authorization_code':
    data = {
        'grant_type': 'authorization_code',
        'client_id': client_id,
        'client_secret': client_secret,
        'redirect_uri': redirect_url,
        'code': auth_code
    }
elif grant_type == 'refresh_token':
    data = {
        'grant_type': 'refresh_token',
        'client_id': client_id,
        'client_secret': client_secret,
        'refresh_token': refresh_token
    }

response = requests.post(url, data=data)

if response.ok:
    access_token_data = response.json()
    access_token = access_token_data["access_token"]
    token_type = access_token_data["token_type"]
    expires_in = access_token_data["expires_in"]
    refresh_token = access_token_data.get("refresh_token")
    print(f"Access token: {access_token}")
    print(f"Token type: {token_type}")
    print(f"Expires in: {expires_in} seconds")
    if refresh_token:
        print(f"Refresh token: {refresh_token}")
else:
    print("Error retrieving access token.")
    print(response.json())

Please go to this URL to authorize access: https://hotels.cloudbeds.com/api/v1.1/oauth?client_id=live1_172779_NOXF9fcUKEH6zMahDiSuv4T0&redirect_uri=https://webhook.site/2004f68e-9121-4331-a917-8bb8f74fbbb2&response_type=code
Access token: eyJraWQiOiI5eFUtV09RSWFtWXdLM3JneHF0NG9wbWNEVXdXWlQ3QXRUQm9TTzVuQ3hnIiwiYWxnIjoiUlMyNTYifQ.eyJ2ZXIiOjEsImp0aSI6IkFULkJFVTF1SjNJdURZeVk1d3p2N1NxMENmSmRIWTJ1RV9LVDJvX09haWNBdEUub2FyMTJlZ3d0d09aOHhJZmI1ZDciLCJpc3MiOiJodHRwczovL2lkcC5jbG91ZGJlZHMuY29tL29hdXRoMi9hdXNkNWcydTY5QmxKNFdBYzVkNiIsImF1ZCI6Imh0dHBzOi8vaG90ZWxzLmNsb3VkYmVkcy5jb20vYXBpIiwic3ViIjoia2VudHJvdGgrMUBnbWFpbC5jb20iLCJpYXQiOjE2ODY4NzI5NjQsImV4cCI6MTY4Njg3NjU2NCwiY2lkIjoibGl2ZTFfMTcyNzc5X05PWEY5ZmNVS0VINnpNYWhEaVN1djRUMCIsInVpZCI6IjAwdTFua2FwdGVSNjA2Z2ZYNWQ3Iiwic2NwIjpbIm9mZmxpbmVfYWNjZXNzIl0sImF1dGhfdGltZSI6MTY4NDE4NTk3OCwiYXNzb2NpYXRpb25JZHMiOltdLCJpc2xhbmQiOjEsInByb3BlcnR5SWRzIjpbMTcyNzc5XSwibWZkVXNlcklkIjoyMzMyOTIsInR5cGUiOiJwcm9wZXJ0eSJ9.W4sspdQCE0CXw2_FgzdsNv2-gFUhwX9JvABgB4wWEZUQ1aAqrkplHqqB91Q70DyMOAkLch82VBZaYYvLOzbQx2qx744QeKHPWyeU42DEJWlCuybyqj5D_hmtwYcpSh4drPbB_c2PVo45o0vvAyhyOdw66D4StLyGrp4v6gr21GzRDN968lJ0DW5pPKc54vtFi7sXY89_gbPY7GSYkcGXXanKrZ6KVFfvjcTwR5H79KLH534vs9c6BdwXWEWgUm05oYOLbv3zM-UeWXgz6hLWAdyDctQsRQndzSjjQwpNjhMQ0l0rFRqwifBIWBn905fRQ1Cgw5aHdtJBnkoP1HtrWA
Token type: Bearer
Expires in: 3600 seconds
Refresh token: 3MfCwiV0Xp9un1Y9VbEcMwtwHnG8wRpQGIrW0shL81U

In [4]:
#Pull 1 year past data

url = "https://hotels.cloudbeds.com/api/v1.1/getReservationsWithRateDetails"

# Set up pagination parameters
page_number = 1
page_size = 100

results_past=[]

# Set the date range for the previous year
today = datetime.now()
one_year_ago = today - timedelta(days=365)

while True:
    # Parameters for the API request
    headers = {
        'Authorization': f'Bearer {access_token}'
    }
    params = {
        "reservationCheckOutFrom": one_year_ago.strftime("%Y-%m-%d"),
        "reservationCheckOutTo": today.strftime("%Y-%m-%d"),
        "sortByRecent": True,
        "pageNumber": page_number,
        "pageSize": page_size
    }

    # Make the API request
    response = requests.get(url, params=params, headers=headers)

    # Extract the 'data' field from the API response
    api_data = response.json().get('data', [])

    # Create a DataFrame from the extracted data
    df = pd.DataFrame(api_data)

    # Append the DataFrame to the overall results list
    results_past.append(df)

    # Check if there are more results
    if len(df) < page_size:
        break

    # Increment the page number for the next request
    page_number += 1

# Concatenate all the DataFrames into one
df_all_past = pd.concat(results_past, ignore_index=True)

# Print the final DataFrame
print(df_all_past)

      reservationID  isDeleted          dateCreated       dateCreatedUTC  \
0     8356837749213      False  2023-06-03 15:10:34  2023-06-03 20:10:34
1     6412008537606      False  2023-06-01 22:01:36  2023-06-02 03:01:36
2     8438510931843      False  2022-08-20 22:55:12  2022-08-21 03:55:12
3     6334374831709      False  2023-06-09 18:16:00  2023-06-09 23:16:00
4     5537693216724      False  2023-06-04 18:29:00  2023-06-04 23:29:00
...             ...        ...                  ...                  ...
7474  2981326909508      False  2022-01-27 08:46:12  2022-01-27 14:46:12
7475  1723741176202      False  2022-01-21 07:48:29  2022-01-21 13:48:29
7476  2625454162721      False  2022-01-16 09:11:45  2022-01-16 15:11:45
7477  3118431497232      False  2021-12-05 16:11:26  2021-12-05 22:11:26
7478  6597804802670      False  2022-01-07 01:46:26  2022-01-07 07:46:26

             dateModified      dateModifiedUTC       status  \
0     2023-06-15 15:22:18  2023-06-15 20:22:18  checked_out
1     2023-06-15 15:11:06  2023-06-15 20:11:06    confirmed
2     2023-06-15 14:45:35  2023-06-15 19:45:35  checked_out
3     2023-06-15 14:06:19  2023-06-15 19:06:19  checked_out
4     2023-06-15 13:49:46  2023-06-15 18:49:46  checked_out
...                   ...                  ...          ...
7474  2022-01-28 13:31:07  2022-01-28 19:31:07     canceled
7475  2022-01-21 16:21:16  2022-01-21 22:21:16     canceled
7476  2022-01-20 12:00:46  2022-01-20 18:00:46     canceled
7477  2022-01-09 06:53:42  2022-01-09 12:53:42     canceled
7478  2022-01-07 07:32:33  2022-01-07 13:32:33     canceled

     reservationCheckIn reservationCheckOut   guestID  ...  \
0            2023-06-10          2023-06-15  76966193  ...
1            2023-06-14          2023-06-15  76854571  ...
2            2023-06-13          2023-06-15  58463643  ...
3            2023-06-13          2023-06-15  77347615  ...
4            2023-06-13          2023-06-15  77036894  ...
...                 ...                 ...       ...  ...
7474         2022-09-18          2022-09-19  47897035  ...
7475         2022-08-14          2022-08-15  47667203  ...
7476         2022-06-30          2022-07-05  47465664  ...
7477         2022-06-13          2022-06-16  46014614  ...
7478         2022-07-06          2022-07-11  47128058  ...

                                                 source propertyCurrency  \
0     {'name': 'Website/Booking Engine', 'paymentCol...              USD
1     {'name': 'Website/Booking Engine', 'paymentCol...              USD
2     {'name': 'Booking.com', 'paymentCollect': 'hot...              USD
3     {'name': 'Hostelworld', 'paymentCollect': 'hot...              USD
4     {'name': 'Booking.com', 'paymentCollect': 'hot...              USD
...                                                 ...              ...
7474  {'name': 'Booking.com', 'paymentCollect': 'hot...              USD
7475  {'name': 'Booking.com', 'paymentCollect': 'hot...              USD
7476  {'name': 'Airbnb (API)', 'paymentCollect': 'ho...              USD
7477  {'name': 'Airbnb (API)', 'paymentCollect': 'ho...              USD
7478  {'name': 'Booking.com', 'paymentCollect': 'hot...              USD

                                        balanceDetailed allotmentBlockCode  \
0     {'suggestedDeposit': '0.00', 'subTotal': 210, ...               None
1     {'suggestedDeposit': '0.00', 'subTotal': 35, '...               None
2     {'suggestedDeposit': '0.00', 'subTotal': 298, ...               None
3     {'suggestedDeposit': '0.00', 'subTotal': 146.2...               None
4     {'suggestedDeposit': '0.00', 'subTotal': 78, '...               None
...                                                 ...                ...
7474  {'suggestedDeposit': '0.00', 'subTotal': 39, '...               None
7475  {'suggestedDeposit': '0.00', 'subTotal': 39, '...               None
7476  {'suggestedDeposit': '0.00', 'subTotal': 959.9...               None
7477  {'suggestedDeposit': '0.00', 'subTotal': 105.0...               None
7478  {'suggestedDeposit': '0.00', 'subTotal': 191.7...               None

                                          detailedRates  \
0     {'2023-06-10': 52, '2023-06-11': 41, '2023-06-...
1                                    {'2023-06-14': 35}
2                {'2023-06-13': 149, '2023-06-14': 149}
3              {'2023-06-13': 73.1, '2023-06-14': 73.1}
4                  {'2023-06-13': 39, '2023-06-14': 39}
...                                                 ...
7474                                 {'2022-09-18': 39}
7475                                 {'2022-08-14': 39}
7476  {'2022-06-30': 191.99, '2022-07-01': 191.99, '...
7477  {'2022-06-13': 35.02, '2022-06-14': 35.02, '20...
7478  {'2022-07-06': 33.3, '2022-07-07': 35.1, '2022...

                                                  rooms sourceCategory  \
0     [{'roomTypeID': '213806', 'roomTypeName': 'Del...            NaN
1     [{'roomTypeID': '215607', 'roomTypeName': 'Eco...            NaN
2     [{'roomTypeID': '215609', 'roomTypeName': 'Bra...            OTA
3     [{'roomTypeID': '215604', 'roomTypeName': 'Del...            OTA
4     [{'roomTypeID': '213806', 'roomTypeName': 'Del...            OTA
...                                                 ...            ...
7474  [{'roomTypeID': '215605', 'roomTypeName': 'Del...            OTA
7475  [{'roomTypeID': '215605', 'roomTypeName': 'Del...            OTA
7476  [{'roomTypeID': '215609', 'roomTypeName': 'Bra...            OTA
7477  [{'roomTypeID': '213806', 'roomTypeName': 'Del...            OTA
7478  [{'roomTypeID': '215606', 'roomTypeName': 'Del...            OTA

     sourceReservationID        dateCancelled     dateCancelledUTC
0                    NaN                  NaN                  NaN
1                    NaN                  NaN                  NaN
2             2424141850                  NaN                  NaN
3        64785-554318367                  NaN                  NaN
4             2493174787                  NaN                  NaN
...                  ...                  ...                  ...
7474          2811169606  2022-01-28 13:31:00  2022-01-28 19:31:00
7475          3934891046  2022-01-21 16:21:11  2022-01-21 22:21:11
7476          HMEJ2YFCAF  2022-01-20 12:00:42  2022-01-20 18:00:42
7477          HMTM88JSBH  2022-01-09 06:53:29  2022-01-09 12:53:29
7478          2650029727  2022-01-07 07:32:25  2022-01-07 13:32:25

[7479 rows x 23 columns]

In [5]:
#Pull 1 year future data

url = "https://hotels.cloudbeds.com/api/v1.1/getReservationsWithRateDetails"

# Set up pagination parameters
page_number = 1
page_size = 100

results_future=[]

# Set the date range for the previous year
today = datetime.now()
one_year_ahead = today + timedelta(days=365)

while True:
    # Parameters for the API request
    headers = {
        'Authorization': f'Bearer {access_token}'
    }
    params = {
        "reservationCheckOutFrom": today.strftime("%Y-%m-%d"),
        "reservationCheckOutTo": one_year_ahead.strftime("%Y-%m-%d"),
        "sortByRecent": True,
        "pageNumber": page_number,
        "pageSize": page_size
    }


    # Make the API request
    response = requests.get(url, params=params, headers=headers)

    # Extract the 'data' field from the API response
    api_data = response.json().get('data', [])

    # Create a DataFrame from the extracted data
    df = pd.DataFrame(api_data)

    # Append the DataFrame to the overall results list
    results_future.append(df)

    # Check if there are more results
    if len(df) < page_size:
        break

    # Increment the page number for the next request
    page_number += 1

# Concatenate all the DataFrames into one
df_all_future = pd.concat(results_future, ignore_index=True)

# Print the final DataFrame
print(df_all_future)

     reservationID  isDeleted          dateCreated       dateCreatedUTC  \
0    3353380714939      False  2023-06-15 18:31:52  2023-06-15 23:31:52
1    5231287282230      False  2023-06-15 18:25:19  2023-06-15 23:25:19
2    6830989290835      False  2023-05-22 15:40:49  2023-05-22 20:40:49
3    3849524585702      False  2023-06-15 18:01:04  2023-06-15 23:01:04
4    7673753603249      False  2023-05-15 15:49:12  2023-05-15 20:49:12
..             ...        ...                  ...                  ...
584  9049776267868      False  2022-10-17 13:17:57  2022-10-17 18:17:57
585  4480999257826      False  2022-10-04 13:52:19  2022-10-04 18:52:19
586  8668732599792      False  2022-10-02 01:01:18  2022-10-02 06:01:18
587  8901269886916      False  2022-09-21 12:43:29  2022-09-21 17:43:29
588  9768135512101      False  2022-09-14 09:29:29  2022-09-14 14:29:29

            dateModified      dateModifiedUTC      status reservationCheckIn  \
0    2023-06-15 18:32:02  2023-06-15 23:32:02   confirmed         2023-06-15
1    2023-06-15 18:25:27  2023-06-15 23:25:27   confirmed         2023-06-20
2    2023-06-15 18:24:56  2023-06-15 23:24:56  checked_in         2023-06-15
3    2023-06-15 18:01:11  2023-06-15 23:01:11   confirmed         2023-07-17
4    2023-06-15 18:00:46  2023-06-15 23:00:46  checked_in         2023-06-14
..                   ...                  ...         ...                ...
584  2022-10-24 13:05:12  2022-10-24 18:05:12    canceled         2023-10-05
585  2022-10-07 14:36:22  2022-10-07 19:36:22    canceled         2023-07-27
586  2022-10-02 01:01:25  2022-10-02 06:01:25   confirmed         2023-07-27
587  2022-09-28 21:25:26  2022-09-29 02:25:26    canceled         2023-07-27
588  2022-09-14 09:29:40  2022-09-14 14:29:40   confirmed         2023-07-27

    reservationCheckOut   guestID  ...  \
0            2023-06-16  77866567  ...
1            2023-06-22  77866291  ...
2            2023-06-19  76123593  ...
3            2023-07-20  77865181  ...
4            2023-06-20  75640459  ...
..                  ...       ...  ...
584          2023-10-09  61820485  ...
585          2023-07-30  61068334  ...
586          2023-07-31  60906961  ...
587          2023-07-30  60319061  ...
588          2023-07-31  59901190  ...

                                                source sourceCategory  \
0    {'name': 'Booking.com', 'paymentCollect': 'hot...            OTA
1    {'name': 'Hostelworld', 'paymentCollect': 'hot...            OTA
2    {'name': 'Hostelworld', 'paymentCollect': 'hot...            OTA
3    {'name': 'Website/Booking Engine', 'paymentCol...            NaN
4    {'name': 'Airbnb (API)', 'paymentCollect': 'ho...            OTA
..                                                 ...            ...
584  {'name': 'Website/Booking Engine', 'paymentCol...            NaN
585  {'name': 'Booking.com', 'paymentCollect': 'hot...            OTA
586  {'name': 'Website/Booking Engine', 'paymentCol...            NaN
587  {'name': 'Airbnb (API)', 'paymentCollect': 'ho...            OTA
588  {'name': 'Expedia', 'paymentCollect': 'hotel',...            OTA

    sourceReservationID propertyCurrency  \
0            3821765722              USD
1       64785-554447641              USD
2       64785-553920065              USD
3                   NaN              USD
4            HMN5X2KDRJ              USD
..                  ...              ...
584                 NaN              USD
585          3982080874              USD
586                 NaN              USD
587          HM8BZQAFRS              USD
588          2012035700              USD

                                       balanceDetailed allotmentBlockCode  \
0    {'suggestedDeposit': '0.00', 'subTotal': 41, '...               None
1    {'suggestedDeposit': '0.00', 'subTotal': 146.2...               None
2    {'suggestedDeposit': '0.00', 'subTotal': 336.6...               None
3    {'suggestedDeposit': '0.00', 'subTotal': 117, ...               None
4    {'suggestedDeposit': '0.00', 'subTotal': 245.8...               None
..                                                 ...                ...
584  {'suggestedDeposit': '0.00', 'subTotal': 996, ...               None
585  {'suggestedDeposit': '0.00', 'subTotal': 477, ...               None
586  {'suggestedDeposit': '0.00', 'subTotal': 756, ...               None
587  {'suggestedDeposit': '0.00', 'subTotal': 622.6...               None
588  {'suggestedDeposit': '0.00', 'subTotal': 186, ...               None

                                         detailedRates  \
0                                   {'2023-06-15': 41}
1             {'2023-06-20': 73.1, '2023-06-21': 73.1}
2    {'2023-06-15': 74.8, '2023-06-16': 93.5, '2023...
3    {'2023-07-17': 39, '2023-07-18': 39, '2023-07-...
4    {'2023-06-14': 40.97, '2023-06-15': 40.97, '20...
..                                                 ...
584  {'2023-10-05': 209, '2023-10-06': 289, '2023-1...
585  {'2023-07-27': 139, '2023-07-28': 169, '2023-0...
586  {'2023-07-27': 169, '2023-07-28': 209, '2023-0...
587  {'2023-07-27': 207.55, '2023-07-28': 207.54, '...
588  {'2023-07-27': 41, '2023-07-28': 52, '2023-07-...

                                                 rooms        dateCancelled  \
0    [{'roomTypeID': '215605', 'roomTypeName': 'Del...                  NaN
1    [{'roomTypeID': '215604', 'roomTypeName': 'Del...                  NaN
2    [{'roomTypeID': '213806', 'roomTypeName': 'Del...                  NaN
3    [{'roomTypeID': '215605', 'roomTypeName': 'Del...                  NaN
4    [{'roomTypeID': '213806', 'roomTypeName': 'Del...                  NaN
..                                                 ...                  ...
584  [{'roomTypeID': '215609', 'roomTypeName': 'Bra...  2022-10-24 13:05:07
585  [{'roomTypeID': '215608', 'roomTypeName': 'Pri...  2022-10-07 14:36:17
586  [{'roomTypeID': '215609', 'roomTypeName': 'Bra...                  NaN
587  [{'roomTypeID': '215609', 'roomTypeName': 'Bra...  2022-09-28 21:25:22
588  [{'roomTypeID': '213806', 'roomTypeName': 'Del...                  NaN

        dateCancelledUTC
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
..                   ...
584  2022-10-24 18:05:07
585  2022-10-07 19:36:17
586                  NaN
587  2022-09-29 02:25:22
588                  NaN

[589 rows x 23 columns]

In [6]:
print(f"We received {len(df_all_past)} past reservations.")
print(f"We received {len(df_all_future)} future resservations.")

We received 7479 past reservations.
We received 589 future resservations.

In [7]:
#create cleaning data function
def expand_dataframe(df):
    expanded_rows = []
    
    for index, row in df.iterrows():
        detailed_rates = row['detailedRates']

        if detailed_rates:
            for date, price in detailed_rates.items():
                new_row = row.copy()
                new_row['date'] = date
                new_row['price'] = price
                expanded_rows.append(new_row)

    expanded_df = pd.DataFrame(expanded_rows)
    expanded_df.drop('detailedRates', axis=1, inplace=True)
    
    expanded_df['source'] = expanded_df['source'].apply(lambda x: x['name'])
    expanded_df.rename(columns={'source': 'source_name'}, inplace=True)
    
    expanded_df['adults'] = expanded_df['rooms'].apply(lambda x: x[0]['adults'])
    expanded_df.drop('rooms', axis=1, inplace=True)
    
    expanded_df['date'] = pd.to_datetime(expanded_df['date'])
    expanded_df['day'] = expanded_df['date'].dt.day
    expanded_df['month'] = expanded_df['date'].dt.month
    expanded_df['year'] = expanded_df['date'].dt.year
    
    return expanded_df

#create filter data for 'canceled' function
def filter_canceled_reservations(df):
    return df[df['status'] != 'canceled']

# Filter 'canceled' reservations
df_all_past = filter_canceled_reservations(df_all_past)
df_all_future = filter_canceled_reservations(df_all_future)

# Clean and expand dataframes
expanded_df_past = expand_dataframe(df_all_past[['reservationID', 'source', 'detailedRates', 'rooms']])
expanded_df_future = expand_dataframe(df_all_future[['reservationID', 'source', 'detailedRates', 'rooms']])

In [8]:
expanded_df_future.head()

   reservationID  source_name       date  price adults  day  month  year
0  3353380714939  Booking.com 2023-06-15   41.0      1   15      6  2023
1  5231287282230  Hostelworld 2023-06-20   73.1      1   20      6  2023
1  5231287282230  Hostelworld 2023-06-21   73.1      1   21      6  2023
2  6830989290835  Hostelworld 2023-06-15   74.8      1   15      6  2023
2  6830989290835  Hostelworld 2023-06-16   93.5      1   16      6  2023

In [9]:
expanded_df_past.head()

,reservationID,source_name,date,price,adults,day,month,year
0,8356837749213,Website/Booking Engine,2023-06-10,52.0,1,10,6,2023
0,8356837749213,Website/Booking Engine,2023-06-11,41.0,1,11,6,2023
0,8356837749213,Website/Booking Engine,2023-06-12,39.0,1,12,6,2023
0,8356837749213,Website/Booking Engine,2023-06-13,39.0,1,13,6,2023
0,8356837749213,Website/Booking Engine,2023-06-14,39.0,1,14,6,2023

In [14]:
# Drop blank values
expanded_df_past.dropna(subset=['adults'], inplace=True)
expanded_df_future.dropna(subset=['adults'], inplace=True)

# Remove values after today's date for past_rev
expanded_df_past = expanded_df_past[expanded_df_past['date'] <= today]

# Remove values before today's date for future_rev
expanded_df_future = expanded_df_future[expanded_df_future['date'] >= today]

# Create a pivot table with sum of prices
pivot_table_past_rev = pd.pivot_table(expanded_df_past, values='price', index='month', columns='day', aggfunc='sum')
pivot_table_future_rev = pd.pivot_table(expanded_df_future, values='price', index='month', columns='day', aggfunc='sum')

# Reindex the columns to have labels 1-31
pivot_table_past_rev = pivot_table_past_rev.reindex(columns=range(1, 32))
pivot_table_future_rev = pivot_table_future_rev.reindex(columns=range(1, 32))

# Reindex the rows to have labels as month names and sort by year
sorted_months_past_rev = sorted(pivot_table_past_rev.index.unique(), key=lambda x: (expanded_df_past[expanded_df_past['month'] == x]['year'].min(), x))
pivot_table_past_rev = pivot_table_past_rev.reindex(index=sorted_months_past_rev)
pivot_table_past_rev.index = pivot_table_past_rev.index.map(lambda x: calendar.month_abbr[x])

sorted_months_future_rev = sorted(pivot_table_future_rev.index.unique(), key=lambda x: (expanded_df_future[expanded_df_future['month'] == x]['year'].min(), x))
pivot_table_future_rev = pivot_table_future_rev.reindex(index=sorted_months_future_rev)
pivot_table_future_rev.index = pivot_table_future_rev.index.map(lambda x: calendar.month_abbr[x])

# Fill blank cells with 0 in the DataFrames
pivot_table_past_rev.fillna(0, inplace=True)
pivot_table_future_rev.fillna(0, inplace=True)

# Export DataFrames to separate Excel files
pivot_table_past_rev.to_excel('Output/past_rev.xlsx', index=True, header=True, engine='openpyxl')
pivot_table_future_rev.to_excel('Output/future_rev.xlsx', index=True, header=True, engine='openpyxl')

In [16]:
# Convert 'adults' column to numeric values
expanded_df_past['adults'] = pd.to_numeric(expanded_df_past['adults'])
expanded_df_future['adults'] = pd.to_numeric(expanded_df_future['adults'])

# Create a pivot table with sum of adults per day divided by 64
pivot_table_past_occ = pd.pivot_table(expanded_df_past, values='adults', index='month', columns='day', aggfunc='sum') / 64
pivot_table_future_occ = pd.pivot_table(expanded_df_future, values='adults', index='month', columns='day', aggfunc='sum') / 64

# Reindex the columns to have labels 1-31
pivot_table_past_occ = pivot_table_past_occ.reindex(columns=range(1, 32))
pivot_table_future_occ = pivot_table_future_occ.reindex(columns=range(1, 32))

# Reindex the rows to have labels as month names and sort by year
sorted_months_past_occ = sorted(pivot_table_past_occ.index.unique(), key=lambda x: (expanded_df_past[expanded_df_past['month'] == x]['year'].min(), x))
pivot_table_past_occ = pivot_table_past_occ.reindex(index=sorted_months_past_occ)
pivot_table_past_occ.index = pivot_table_past_occ.index.map(lambda x: calendar.month_abbr[x])

sorted_months_future_occ = sorted(pivot_table_future_occ.index.unique(), key=lambda x: (expanded_df_future[expanded_df_future['month'] == x]['year'].min(), x))
pivot_table_future_occ = pivot_table_future_occ.reindex(index=sorted_months_future_occ)
pivot_table_future_occ.index = pivot_table_future_occ.index.map(lambda x: calendar.month_abbr[x])

# Fill blank cells with 0 in the DataFrames
pivot_table_past_occ.fillna(0, inplace=True)
pivot_table_future_occ.fillna(0, inplace=True)

# Export DataFrames to separate Excel files
pivot_table_past_occ.to_excel('Output/past_occ.xlsx', index=True, header=True, engine='openpyxl')
pivot_table_future_occ.to_excel('Output/future_occ.xlsx', index=True, header=True, engine='openpyxl')

In [23]:
# Calculate ADR for past_rev
pivot_table_past_adr = pivot_table_past_rev / 64 / (pivot_table_past_occ)

# Calculate ADR for future_rev
pivot_table_future_adr = pivot_table_future_rev / 64 / (pivot_table_future_occ)

# Fill blank cells with 0 in the DataFrames
pivot_table_past_adr.fillna(0, inplace=True)
pivot_table_future_adr.fillna(0, inplace=True)

# Export styled DataFrames to separate Excel files
pivot_table_past_adr.to_excel('Output/past_adr.xlsx', index=True, header=True, engine='openpyxl')
pivot_table_future_adr.to_excel('Output/future_adr.xlsx', index=True, header=True, engine='openpyxl')

In [24]:
# Calculate RevPAB for past_rev
pivot_table_past_revpab = pivot_table_past_rev / 64 * pivot_table_past_occ

# Calculate RevPAB for future_rev
pivot_table_future_revpab = pivot_table_future_rev / 64 * pivot_table_future_occ

# Fill blank cells with 0 in the DataFrames
pivot_table_past_revpab.fillna(0, inplace=True)
pivot_table_future_revpab.fillna(0, inplace=True)

# Export styled DataFrames to separate Excel files
pivot_table_past_revpab.to_excel('Output/past_revpab.xlsx', index=True, header=True, engine='openpyxl')
pivot_table_future_revpab.to_excel('Output/future_revpab.xlsx', index=True, header=True, engine='openpyxl')

In [30]:
# pivot_table_past_rev.to_csv('Output/past_rev.csv', index=True)
# pivot_table_future_rev.to_csv('Output/future_rev.csv', index=True)
# pivot_table_past_occ.to_csv('Output/past_occ.csv', index=True)
# pivot_table_future_occ.to_csv('Output/future_occ.csv', index=True)